@import "bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~toastr";
@import "~daterangepicker";
@import "~select2/src/scss/core";
@import "~select2-bootstrap-5-theme/src/include-all";

@import "jquery-ui";
@import "jquery-ui.structure";
@import "jquery-ui.theme";

.nav-locales li.active {
    opacity: 0.8;
}
.nav-locales .nav-link{
    padding: 0.5rem 0.2rem;
}
.sidebar-menu{
    overflow-y: auto;
}

.toast,
.toast-success,
.toast-error,
.toast-info,
.toast-warning{
    background-color: #030303;
}

.bg-app{
    background-color: #f3f3f3;
}

.bg-black {
    background-color: #000 !important;
}

.text-black {
    color: #000 !important;
}

.alert-grow{
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.alert-grow .btn-close {
    color: #fff;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.alert-grow .btn-close:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
    opacity: 1;
}

.alert-grow-w{
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.btn-grow,
.btn-grow:hover,
.btn-grow:focus {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none;
}

.form-check-input:checked {
    background-color: #000;
    border-color: #000;
}

a, .btn-link{
    color: #000;
}
a:hover,
.btn-link:hover{
    color: #212529;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.form-select:focus {
    border-color: #0f0f0f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(7 7 7 / 25%);
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #0f0f0f;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(7 7 7 / 25%);
}


.page-header {
    margin: 20px 0 20px;
}
.page-header h1{
    font-size: 22px;
}
.content-wrapper{
    background: #fff;
}
.content-wrapper .content-title{
    font-size: 20px;
    margin-bottom: 30px;
}
.content-wrapper-2fa p{
    font-size: 14px;
}

.content-wrapper-2fa .card-empty {
    background: transparent;
    height: 100%;
    border: none;
}
.content-wrapper-2fa .card.card-top,
.content-wrapper-2fa .card.block-form-2fa{
    height: 100%;
}

.content-wrapper-2fa p{
    font-size: 14px;
}

.form-signin, .form-register, .form-1 {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-item .nav-link.active, .sidebar .nav-item .nav-link:hover{
    color: #fff;
    background: #000;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.nav-tabs .nav-link {
    color: inherit;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.page-link{
    color: #000;
}
.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
}
.page-link:hover {
    color: #000;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
.page-link:focus {
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%);
}

.invoice {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    position: relative;
    dl{
        & > *{
            overflow-wrap: break-word;
        }
    }
    .messages{
        .message{
            border-bottom: 1px solid #adb5bd;
            margin-bottom: 15px;
            padding-bottom: 15px;
            .user-block {
                margin-bottom: 15px;
                font-size: 14px;
                .username{
                    font-weight: bold;
                }
                .created{
                    margin-left: 20px;
                    font-size: 12px;
                }
            }
        }
    }
}

.control-group .input-group-text{
    justify-content: center;
    cursor: pointer;
}

.badge-ps {
    color: #212529;
}